.fotosFavoritas{
    background-color: rgb(56, 53, 49);
    padding-top: 2rem;
    border-radius: 3.125em;
}

.wrapperFotosFavoritas{
    background-color: rgb(108, 108, 108);
    padding: 0 5%;
}

@media only screen and (min-width: 600px){
    .fotosFavoritas{
        display:block;
        column-count: 2;
    }
}

@media only screen and (min-width: 1000px){
    .fotosFavoritas{
        display:block;
        column-count: 3;
    }
}