.coleccionFotos{
    background-color: rgb(56, 53, 49);
    padding-top: 2rem;
    border-radius: 3.125em;
}

.wrapperFotos{
    background-color: rgb(203, 203, 203);
    padding: 0 5%;
}

@media only screen and (min-width: 600px){
    .coleccionFotos{
        display:block;
        column-count: 2;
    }
}

@media only screen and (min-width: 1000px){
    .coleccionFotos{
        display:block;
        column-count: 3;
    }
}