.miNav {
    height: 25rem;
    background-color: rgb(203, 203, 203);
    text-align: center;
    position: relative;
    padding: 0 5%;
}

.navModeContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}

.navButtonChoice1 {
    background: #000000;
    box-shadow: #55ab0e 0 -10px 5px inset;
    color: #d9c78d;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5rem 1rem 1rem 1rem;
    border-radius: 20%;
    letter-spacing: 0.1rem;
    padding: 1rem 0.2rem;
    transition: 0.4s;
    width: 8rem;
}

.navButtonChoice1:hover {
    transform: scale(1.2);
    color: rgb(0, 162, 255);
    animation: box 3s infinite;
}

.navButtonChoice2 {
    background: #000000;
    box-shadow: #55ab0e 0 -10px 5px inset;
    color: #d9c78d;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5rem 1rem 1rem 1rem;
    border-radius: 20%;
    letter-spacing: 0.1rem;
    padding: 1rem 0.2rem;
    transition: 0.4s;
    width: 8rem;
    left: 0;
}

.navButtonChoice2:hover {
    transform: scale(1.2);
    color: rgb(0, 162, 255);
    animation: box 3s infinite;
}

.navButtonChoice3{
    position: fixed;
    top: 80%;
    left: 75%;
    z-index: 10;
    background: #000000;
    box-shadow: #55ab0e 0 -10px 5px inset;
    color: #d9c78d;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 50%; 
    border: 2px solid #F5CBA7; 
    width: 5.5rem; 
    height: 5.5rem; 
}

.navButtonChoice3:hover{
    transform: scale(1.2);
    color: rgb(0, 162, 255);
    animation: box 1s infinite;    
}

@media only screen and (min-width: 600px){
    .navButtonChoice3{
        left: 82%;
    }
}

@media only screen and (min-width: 1000px){
    .navButtonChoice3{
        left: 91%;
    }
}