.imagen img{
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.imagen{
    position: relative;
}

.imagen::after {
    content: "";
    position: absolute;
    width:90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent 50%);
    pointer-events: none;
}

.iconDownload{
    position:absolute;
    top: 1vh;
    left: 85.3%;
    color: white;
    z-index:1
    
}

.iconStar, .iconTrash{
    position:absolute;
    top: 7vh;    
    color: white;
    z-index:1
}

.iconTrash{
    left: 85.3%;
}

.iconStar{
    left: 85.1%;
}

.botonEdit{
    position: absolute;
    left: 27.5%;
    top: 80%;
    background-color: cornflowerblue;
    color:white;
    font-size: 1.05rem;
    border-radius: 10%;
    height:2rem;
    width: 45%;
    transition:ease-in, 1s
}

.botonEdit:hover{
    color: green;
    width:50%;
    height:12%;
    top:85%;
    left:25%;
    font-size: 1.3rem;
}