.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navSearch {
    height: 3rem;
    width: 15rem;
    border-radius: 30%;
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: #FC9F9F;
    text-align: center;
}

.navSearchLupa {
    position: relative;
    width: 2.5rem;
    top: -2.7rem;
    left: 5rem;
}
